
  <div class="responsive">
    <h1>Directorio de compañias</h1>
    <label>Empresa</label>
      {{input value=name id="clear1"}}
       <label>Dirección</label>
      {{input value=direction id="clear2"}}
       <label>Teléfono</label>
      {{input value=phone id="clear3"}}
       <label>Web</label>
      {{input value=web id="clear4"}}
      <button class="btnWhite" {{action 'createdCompany'}} {{action 'limpiar'}}>Crear registro</button>
    


  <table >
      <tbody>
        <tr>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Télefono</th>
          <th>Web</th>
          <th>Fecha de Registro</th>
          <th>Acciones</th>

        </tr>
        {{#each model as |companies|}}
        <tr>
          <td>{{companies.Name}}</td>
          <td>{{companies.Direction}}</td>
          <td>{{companies.Phone}}</td>
          <td><a href={{companies.Web}} target="_blank" rel="noopener noreferrer">{{companies.Web}}</a></td>
          <td>{{ helper companies.CreatedAt}}</td>
          <dir class="center">
          <td>
            <button type="button" class="btnRed" {{action 'deleteCompany' companies}} >Eliminar</button>
          </td>
          </dir>
        </tr>
        {{/each}}
      </tbody>
    </table>

     </div>


{{outlet}}